*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.pa {
    animation: trocaCores 5s infinite;
    text-align: center;
    margin-top: 50px;
  }
  
  @keyframes trocaCores {
    0% {
      color: red;
    }
    25% {
      color: blue;
    }
    50% {
      color: green;
    }
    75% {
      color: orange;
    }
    100% {
      color: red;
    }
  }
.banana{
    width: 30px;
}
.alien{
    width: 26px;
    translate: 0px 4.2px;
}
